# Build outputs
bin/
obj/
out/

# Publish folder
publish/

# Rider / VS Code / Visual Studio settings
.vscode/
.vs/
.idea/
.history

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/
.nuget/
*.snupkg

# ASP.NET / .NET Core
*.log
appsettings.Development.json

# Dotnet temporary files
*.dotCover
*.dotMemory
*.cache
*.pdb
*.ilk
*.idb

# Test result files
TestResults/
*.trx
*.coverage

# Others
*.DS_Store
*.bak
*.swp
*.tmp
